.row{
	display: flex;
	flex-direction: row;
}
.col{
	display:flex ;
	flex-direction: column;
	margin-top:10px ;
}
.row-1,.col-1{
	flex: 1;
}
.row-2,.col-2{
	flex: 2;
}
.row-3,.col-3{
	flex: 3;
}
input{
border: 1px solid #007AFF;
	height: 27px;
}
text{
	margin-left: 5px;
}
button{

	
}